main {
  display: flex;
  flex-direction: column;
}

.playInfo {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: handlee;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 100;
}

.HowToPlayParagrap {
  font-size: 14px;
  width: 292px;
  margin-left: 30px;
}

.articleWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.howToPlayArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  color: rgb(0, 0, 0);
  width: 500px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.05);
}

.howToPlayArticle div {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 720px) {
  .howToPlayArticle {
    width: 218px;
    height: 100%;
  }

  .howToPlayArticle div {
    display: flex;
    flex-direction: column;
  }
  .HowToPlayParagrap {
    margin-left: 0px;
    width: 218px;
    padding-top: 20px;
  }
}
