body {
  background-color: #fede97;
}

@font-face {
  font-family: "myWebFont";
  src: url("assets/fonts/CherryBomb-Regular.woff") format("woff");
}

@font-face {
  font-family: "handlee";
  src: url("assets/fonts/handlee-regular.woff") format("woff");
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: none;
  color: rgb(70, 46, 46);
  font-family: handlee;
}

h1 {
  font-size: 20px;
  margin-right: 100px;
  font-family: myWebFont;
}

h2 {
  font-family: handlee;
  font-size: 60px;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.play {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.active {
  background-color: white;
  border-radius: 10%;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.active a {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 720px) {
  h2 {
    font-size: 30px;
  }
}
