body {
  background-color: #fede97;
}

@font-face {
  font-family: "myWebFont";
  src: url("assets/fonts/CherryBomb-Regular.woff") format("woff");
}

@font-face {
  font-family: "handlee";
  src: url("assets/fonts/handlee-regular.woff") format("woff");
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

nav a {
  margin-top: 0px;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  color: rgb(70, 46, 46);
  font-family: handlee;
}

nav a:last-child {
  margin-left: 100px;
}

.menu {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: handlee;
  font-size: 50px;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.play {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.active a {
  background-color: white;
  border-radius: 10%;
}

.mobileWrapper {
  display: none;
}

.mobileArticle {
  text-align: center;
  border-radius: 10%;
  color: rgb(0, 0, 0);
  width: 240px;
  padding: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  margin-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.05);
}

.mobileParagraph {
  font-family: Arial, Helvetica, sans-serif;
}

.mobileArticle h2 {
  font-size: 25px;
}

.logo {
  width: 250px;
}

@media only screen and (max-width: 1000px) {
  nav a {
    font-size: 20px;
    /* height: 20px; */
  }
}

@media only screen and (max-width: 720px) {
  h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  iframe {
    display: none;
  }

  .mobileWrapper {
    display: block;
  }
}
