body {
  background-color: bisque;
}

.faqParagraph {
  width: 80%;
  color: blueviolet;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(70, 46, 46);
}

h1 {
  font-size: 20px;
  margin-right: 100px;
}

.wrapper {
  display: flex;
  justify-content: center;
}
