main {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 {
  color: #008c9d;
  margin-top: 0px;
}

a {
  margin: 0px;
}

.mailAdress {
  margin-bottom: 0px;
}

.aboutInfo {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.aboutInfo p {
  margin-top: 0px;
}

.articleWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.aboutArticle {
  border-radius: 10%;
  color: rgb(0, 0, 0);
  width: 240px;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 15px 15px 15px rgba(0, 0, 0, 0.05);
}

.aboutArticle:hover {
  transform: scale(1.1);
}

.aboutArticle a {
  color: rgb(0, 0, 0);
}
.aboutArticle a:hover {
  color: #a1b052;
}

.aboutParagraph {
  font-size: 14px;
}

.aboutParagraphWithoutLink {
  font-size: 14px;
  margin-top: 34px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  margin: auto;
}

.aboutInfo a {
  color: rgb(0, 0, 0);
  text-align: center;
}
.aboutInfo a:hover {
  color: #a1b052;
}

.aboutArticle img {
  width: 140px;
  height: 140px;
  margin-left: 47px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 720px) {
  h3 {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
