main {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 {
  color: #008c9d;
  margin-top: 0px;
}

a {
  margin: 0px;
}

.mailAdress {
  margin-bottom: 0px;
}

.aboutInfo {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  width: 70%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.aboutInfo p {
  margin-top: 0px;
}

.articleWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.aboutArticle {
  border-radius: 10%;
  color: rgb(0, 0, 0);
  width: 240px;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.aboutArticle a {
  color: rgb(0, 0, 0);
}
.aboutArticle a:hover {
  color: #a1b052;
}

.aboutParagraph {
  font-size: 14px;
}

.aboutParagraphWithoutLink {
  font-size: 14px;
  margin-top: 34px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
  margin: auto;
}

footer a {
  color: rgb(0, 0, 0);
  text-align: center;
}
footer a:hover {
  color: #a1b052;
}
